body{
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	border: 1px solid #ddd;
	border-radius: 5px;

	padding: 10px;
}

.row{
	width: 100%;

	display: flex;
	flex-wrap: wrap;
}

.row .img{
	width: 20%;

	cursor: pointer;

	transition: opacity .3s;
}

.row img:hover{
	opacity: 0.7;
}

.modal{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);

	position: absolute;
	left: 0;
	top: 0;

	display: none;
}

.modal .modal-img{
	width: 400px;

	display: block;

	margin: auto;
	margin-top: 20px;
}

.caption{
	width: 400px;
	height: 100px;
	color: #aaa;

	margin: auto;
	margin-top: 10px;
}

.btn-close{
	color: #999;
	font-size: 40px;
	font-weight: bold;

	position: absolute;
	right: 30px;
	top: 10px;

	cursor: pointer;

	transition: color .4s;
}

.btn-close:hover{
	color: #fff;
}

.modal .modal-img,.caption{
	animation-name: myani;
	animation-duration: 3s;
}

@keyframes myani{
	0%{
		transform: scaleX(0);
	}

	100%{
		transform: scaleX(1);
	}
}