body{
  font-size: 20px;
  line-height: 70px;

  padding: 0;
  margin: 0;
}

.header{
  width: 100%;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;

  position: fixed;
  left: 0;
  top: 0;
}

.progress{
  width: 100%;
  height: 5px;
  background-color: #bbb;
  border-radius: 10px;
}

.progress-bar{
  width: 0%;
  height: 5px;
  background-color: forestgreen;
  border-radius: 5px;
}

.content{
  width: 80%;
  height: auto;
  background-color: silver;
  font-size: 18px;

  padding: 50px 30px;
  margin: 100px auto;
}
