ul{
	list-style-type: none;
}

ul li{
	width: 250px;
	height: 50px;
	background-color: black;

	text-align: center;
	line-height: 50px;
	
	float: left;

	border: 1px solid #000;
	border-radius: 5px;

	margin-left: 5px;

	transition: all .5s;
}

ul li:last-of-type{
	border-right: 2px solid #000;
	border-radius: 5%;
}

ul li:first-of-type{
	border-left: 2px solid #000;
	border-radius: 5%;
}

ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

ul li:hover{
	background-color: skyblue;
	color: #000;
}

ul li:active{
	background-color: purple;
}
