body{
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 900px;
	background-color: #f4f4f4;
}

.carousel{
	position: relative;
}

.carousel-indicatiors{
	width: 100%;
/*	background-color: steelblue;*/
	list-style-type: none;
	text-align: center;

	position: absolute;
	left: 50%;
	bottom: 0;

	transform: translateX(-53%);
}

.carousel-indicatiors .dot{
	width: 8px;
	height: 8px;
	background-color: #ccc;
	border-radius: 50%;

	margin: 0 2px;

	display: inline-block;
}

.carousel-indicatiors .dot.active{
	background-color: #888;
}

.carousel-inner{
	background-color: #f2f2f2;
}

.carousel-item{
	text-align: center;
	padding: 100px;

	display: none;
}

.carousel-item .users{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.carousel-item .jobtitle{
	letter-spacing: 2px;
}

.carousel-item .contact-btn{
	background-color: steelblue;
	color: #fff;
	text-decoration: none;
	border-radius: 10px;

	padding: 10px 12px;
}

.carousel-control-prev,.carousel-control-next{
/*	background-color: steelblue;*/
	color: #f4f4f4;

	font-size: 25px;
	padding: 10px;

	position: absolute;
	top: 50%;

	transform: translateY(-50%);
}

.carousel-control-prev{
	left: 0;
}

.carousel-control-next{
	right: 0;
}

.carousel-control-prev:hover{
	color: #888;

	animation-name: myleft;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.carousel-control-next:hover{
	color: #888;

	animation-name: myright;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes myleft{
	from{
		left: 0;
		opacity: 0.7;
	}

	to{
		left: 10px;
		opacity: 1;
	}
}

@keyframes myright{
	from{
		right: 0;
		opacity: 0.7;
	}

	to{
		right: 10px;
		opacity: 1;
	}
}



