*{
	box-sizing: border-box;
}

body{
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

}

.container{
	width: 400px;
	border: 1px solid #555;
	border-radius: 5px;

	padding: 10px 13px;
}

h3{
	font-size: 14px;
	color: #aaa;
	border-bottom: 1px solid #ddd;

	padding: 20px 0;
}

small{
	color: #aaa;
	text-align: center;
	font-size: 12px;

	display: block;

	margin-top: 20px;
}

.form-control{
	width: 100%;
	border: none;
	border-bottom: 2px solid orange;

	padding: 10px;

	cursor: pointer;

	margin-top: 10px;

	transition: border-bottom .3s;
}

.form-control:focus{
	outline: none;
}

.form-control:hover{
	border-bottom: 2px solid steelblue;
}

.form-control::placeholder{
	color: #ccc;
	font-size: 14px;
}

.list-group{
	height: 200px;
	list-style-type: none;

	padding: 0;
	margin: 0;

	overflow-y: scroll;
}

.list-group li{
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #000;
	font-size: 14px;

	padding: 10px 5px;
	margin-top: -1px;
}

.list-group li.completed{
	color: #aaa;
	font-style: italic;
	text-decoration: line-through;
}