body{
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 900px;
  background-color: #f4f4f4;
}

.carousel{
  position: relative;
}

.carousel-indicatiors{
  width: 100%;
  /* background-color: steelblue; */
  list-style-type: none;
  text-align: center;

  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translateX(-53%);
}

.carousel-indicatiors .dot{
  width: 8px;
  height: 8px;
  background-color: #bbb;
  border-radius: 50%;

  margin: 0px 2px;

  display: inline-block;
}

.carousel-indicatiors .dot:hover,.carousel-indicatiors .dot.active{
  background-color: #888;
}

.carousel-inner{
  background-color: #f2f2f2;
}

.carousel-item{
  text-align: center;
  padding: 100px;

  display: none;
}

.carousel-item .users{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.carousel-item .jobtitle{
  letter-spacing: 2px;
}

.carousel-item .contact-btn{
  background-color: steelblue;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;

  padding: 12px 16px;
}

.carousel-control-prev,.carousel-control-next{
  color: #f4f4f4;
  /* background-color: steelblue; */
  font-size: 25px;

  padding: 10px;

  cursor: pointer;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.carousel-control-prev{
  left: 0;
}

.carousel-control-next{
  right: 0;
}

.carousel-control-prev:hover{
  color: #888;

  animation-name: forleft;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alernate;
}

.carousel-control-next:hover{
  color: #888;

  animation-name: forright;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alernate;
}

@keyframes forleft {
  0%{
    left: 0;
    opacity: 0.7;
  }

  100%{
    left: 10px;
    opacity: 1;
  }
}

@keyframes forright {
  0%{
    right: 0;
    opacity: 0.7;
  }

  100%{
    right: 10px;
    opacity: 1;
  }
}
