body{
    font-family: sans-serif;
    background-color: #666;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

h1{
    color: #fff;
    margin-bottom: 50px;
}

.container{
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgbox{
    width: 100px;
    height: 100px;

    position: relative;

    overflow: hidden;
}

.imgbox.show{
    width: 400px;
    height: 400px;
    box-shadow: 3px 3px 15px gray;
}

.imgbox img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.btn-close{
    width: 30px;
    height: 30px;
    background: transparent;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;

    position: absolute;
    right: 10px;
    top: 10px;

    z-index: 100;

    display: none;
}

.btn-close:hover{
    border: 1px solid red;
}

.imgbox.show .btn-close{
    display: block;
}

.imgbox .title{
    width: 100%;
/*    background-color: steelblue;*/
    font-size: 30px;

    position: absolute;
    left: 0;
    top: 0;

    padding: 10px;

    transform: translateX(-300%);    
}

.imgbox .title span{
    background-color: red;
    color: #fff;
    padding: 5px;
}

.imgbox .content{
    width: 100%;
    height: 20%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 10px;

    position: absolute;
    left: 0;
    bottom: 0;

    transform: translateY(300%);
}

.btn{
    background-color: red;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;

    padding: 5px;
    margin-top: 10px;
}

.imgbox.show > *{
    transform: translate(0,0);
}

