*{
  box-sizing: border-box;
}

body{
  height: 100vh;

  display: grid;
  place-items: center;
}

.container{
    width: 700px;
    border: 1px solid #ddd;
    border-radius: 10px;

    padding: 10px;
}

.form-control{
  width: 100%;

  padding: 7px 15px;

  margin-bottom: 10px;
}

button{
  width: 49%;
  background-color: steelblue;
  color: #fff;
  border: none;
  outline: none;

  padding: 10px 15px;

  margin-bottom: 10px;
}

button:active{
  opacity: 0.9;
}

.list-group{
    height: 500px;
    list-style-type: none;

    margin: 0;
    padding: 0;

    overflow-y: scroll;
}

.list-group li a{
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  text-decoration: none;

  display: block;

  padding: 13px 15px;
}

.list-group li a:hover{
  background-color: #ddd;
}

