body{
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 600px;
}

.progress{
	width: 100%;
	height: 20px;
	background-color: #bbb;

	margin-bottom: 10px;
}

.progress-bar{
	width: 0%;
	height: inherit;
	background-color: purple;

	position: relative;
}

.progress-bar::before{
	content: attr(data-inc);

	color: #fff;

	position: absolute;
	right: 5px;
	top: 0;
}

