*{
	box-sizing: border-box;
}

body{
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

}

.container{
	width: 700px;

	border: 1px solid #ccc;
	border-radius: 5px;

	padding: 10px;
}

.form-control{
	width: 100%;
	border: 1px solid #ddd;

	padding: 10px 20px;
	margin-bottom: 10px;
}

.form-control:focus{
	outline: none;
}

.btn{
	width: 48%;
	background-color: steelblue;
	color: #fff;
	border: none;

	padding: 10px;
	margin-bottom: 10px;

	transition: opacity .3s;
}

.btn:active{
	opacity: 0.9;
}

.list-group{
	height: 500px;
	list-style-type: none;

	padding: 0;
	margin: 0;

	overflow-y: scroll;
}

.list-group li a{
	background-color: #ddd;
	text-decoration: none;
	border: 1px solid #ccc;

	padding: 10px;
	margin-top: -1px;

	display: block;

}
