*{
  box-sizing: border-box;
}

body{
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 900px;
  background-color: #f4f4f4;
  padding: 20px;
}

.modal{
  width: 100%;
  height: 100%;
  background-color: #555;

  position: absolute;
  left: 0;
  top: 0;

  z-index: 10;

  display: none;
}

.form{
  width: 500px;
  margin: 0 auto;
}

.form h3{
  color: #fff;
  font-size: 30px;
}

.input-group{
  width: 100%;

  display: flex;

  margin-bottom: 20px;
}

.icon{
  width: 50px;
  background-color: steelblue;
  color: #fff;
  text-align: center;

  padding: 10px 8px;

  cursor: pointer;
}

.input-group-text{
  width: 100%;
  border: none;
  padding: 10px;
}

.input-group-text:focus{
  outline: none;
  border: 2px solid steelblue;
}

.btn{
  width: 100%;
  background-color: steelblue;
  color: #fff;
  border: none;
  outline: none;

  padding: 16px 18px;

  opacity: 0.9;

  cursor: pointer;
}

.btn:hover{
  opacity: 1;
}

.btn-close{
  color: #fff;
  font-size: 40px;
  font-weight: bold;

  position: absolute;
  right: 30px;
  top: 25px;
}

.btn-close:hover{
  color: red;
}

.closefullscreenbtn{
  display: none;
}
