body{
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 800px;
	background-color: #f4f4f4;
	padding: 20px;
}

.modal{
	width: 100%;
	height: 100%;
	background-color: #333;

	position: absolute;
	left: 0;
	top: 0;

	z-index: 10;

	display: none;
}

.modal h2{
	color: #fff;
}

.modal form{
	width: 500px;
	margin: 0 auto;
}

.input-group{
	width: 100%;

	display: flex;

	margin-bottom: 20px;
}

.input-group .icon{
	width: 50px;
	background-color: steelblue;
	color: #fff;
	text-align: center;

	padding: 10px 0;

	cursor: pointer;
}

.input-group-text{
	width: 100%;
	border: none;

	padding: 10px;
}

.input-group-text:focus{
	outline: none;
	border: 1px solid steelblue;
}

.btn{
	width: 100%;
	background-color: steelblue;
	color: #fff;
	font-size: 16px;
	border: none;
	outline: none;

	padding: 12px 20px;

	opacity: .8;
}

.btn:hover{
	opacity: 1;
}

.btn-close{
	color: #fff;
	font-size: 35px;
	font-weight: bold;

	position: absolute;
	right: 35px;
	top: 20px;
}

.btn-close:hover{
	color: red;
}

#closefullscreen-btn{
	display: none;
}





