body{
	font-size: 20px;
	line-height: 60px;
}

.header{
	width: 100%;
	background-color: #999;
	font-size: 20px;
	text-align: center;

	position: fixed;
	left: 0;
	top: 0;
}

.progress{
	width: 100%;
	height: 5px;
	background-color: #bbb;

	border-radius: 10px;
}

.progress-bar{
	width: 0%;
	height: inherit;
	background-color: purple;
}

.content{
	width: 80%;
	background-color: #bbb;
	font-size: 17px;

	padding: 20px;
	margin: 100px auto;
}