*{
  box-sizing: border-box;
}

body{
  height: 100vh;

/*  padding: 0;
  margin: 0;*/
}

.modal-btn,.btn{
    background-color: green;
    color: #fff;
    border: none;
    outline: none;

    padding: 12px 25px;
    margin: 8px 0;
}

.modal{
    width: 100%;
    height: 100%;
    background-color: #999;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 100;

    display: none;
}

.modal-dialog{
    width: 700px;
    background-color: #f2f2f2;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

.modal-contact{
    padding: 20px;
}

.modal-header{
    text-align: center;
    padding: 10px;

    position: relative;
}

.btn-close{
    color: #999;
    border: none;
    font-size: 40px;

    position: absolute;
    right: 10px;
    top: -10px;
}

.btn-close:hover{
    color: #000;
}

.avatar{
  width: 100px;
  border-radius: 50%;
}

.modal-body{
    padding: 10px;
}


.form-control{
    width: 100%;
    border: none;

    padding: 10px 15px;
    margin: 10px 0;
}

.form-control:focus{
    outline: none;
    border-top: 1px solid #999;
}

.btn{
    width: 100%;
    color: #fff;
}

.forgot{
    display: flex;
    justify-content: end;
}

.fade{
  animation: myani .5s linear;
}

@keyframes myani{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}