*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	background-color: #666;

	height: 100vh;
	display: grid;
	place-items: center;
}

.container{
	width: 600px;
}

h3{
	color: #fff;
	text-align: center;
}

.form-control{
	width: 100%;
	padding: 10px;
}

.form-control:focus{
	outline: none;
}

textarea{
	width: 100%;
	height: 100px;
	resize: none;
	overflow-y: scroll;
}

.justify-content-end{
	display: flex;
	justify-content: end;

	margin: 0px 0px 10px;
}

.btn{
	background-color: steelblue;
	color: #fff;
	border: none;
	outline: none;

	padding: 5px 15px;
}

.email-containers{
	flex-wrap: wrap;
}

.email-item{
	background-color: steelblue;
	color: #fff;
	font-size: 14px;
	border: none;

	padding: 5px 15px;
	margin: 0px 5px;
}


