body{
  height: 100vh;

  display: grid;
  place-items: center;
}

.container{
    border: 1px solid #ddd;
    border-radius: 10px;

    padding: 10px;
}

.row{
    display: flex;

    flex-wrap: wrap;
}

.row .img{
    width: 20%;

    cursor: pointer;
}

.row .img:hover{
  opacity: 0.7;
}

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);

    position: absolute;
    left: 0;
    top: 0;

    z-index: 100;

    display: none;
}

.btn-close{
    color: #fff;
    font-size: 40px;
    font-weight: bold;

    position: absolute;
    right: 25px;
    top: 10px;

    opacity: 0.7;
}

.btn-close:hover{
    opacity: 1;
}

.modal-img{
    width: 400px;

    display: block;

    margin: 0 auto;
    margin-top: 20px;
}

.caption{
    width: 400px;
    height: 100px;
    color: #fff;

    margin:  auto;
    margin-top: 20px;
}

.modal-img,.caption{
  animation: myani .5s linear;
}

@keyframes myani{
    0%{
      transform: scaleX(0);
    }

    100%{ 
      transform: scaleX(1);
    }
}



